<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Find jobs that you actually want and qualify for</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg"> Add resume notes</a>
</div>